DATABASE_DRIVER="postgres"
# DATABASE_URL="mongodb://localhost:27017/prac"
# DEBUG=*

LOG_FORMAT=dev

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=afisha_user
POSTGRES_PASSWORD=afisha_pass
POSTGRES_DATABASE=afisha
